.full-width {
  width: 100%;
}

.main-card {
  max-width: 80%;
  margin: 0 auto;
}

.min-width {
  width: 100%;
}

.inline {
  margin-right: 2px;
  width: 100%;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

