<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span><a href="/">Controle Caixa</a></span>
  <div class="logout">
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <mat-nav-list>
      <mat-list-item class="menu-item"><a matLine routerLink="/pessoas">Pessoas</a></mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
